<!-- =============== HOME PAGE =============== -->

<div id="home">
  <div class="container">

    <!-- =============== TITLE ROW =============== -->
    {{> page-header title="Tell Us What You Want to Do!" }}


    <!-- =============== TABLE AND MAP =============== -->

    <div class="row current-events">
      <div class="col-md-6">
        <div class="header">Current Events</div>

        <!-- =============== TABLE =============== 
        
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Event Name</th>
              <th scope="col">Location</th>
              <th scope="col">Date</th>
              <th scope="col">Join</th>
            </tr>
          </thead>
          <tbody>
            {{#if events}}
            {{#each events}}
            <tr>
              <td><a href="/event/{{id}}">{{eventTitle}}</a></td>
              <td>{{eventLocation}}</td>
              <td>{{eventDateTime}}</td>
              <td><a class="btn btn-primary modalBtn" data-id="{{id}}" href="#" role="button"
                  data-action="join">Join</a>
              </td>
            </tr>
            {{/each}}
            {{/if}}
          </tbody>
        </table>
        -->

        {{#if events}}
          {{#each events}}
            <div class="row event">
              <div class="col-md-10">
                <h4><a href="/event/{{id}}">{{eventTitle}}</a></h4>
                {{eventLocation}}<br>
                {{eventDateTime}}
              </div>
              <div class="col-md-2">
                <a class="btn btn-primary modalBtn" data-id="{{id}}" href="#" role="button" data-action="join">Join</a>
              </div>
            </div>
          {{/each}}
        {{/if}}
        <a href="/events">View All Events</a>
      </div>



      <div class="col-6">
        <div class="header">Current Pickup Locations</div>
        <div id="map"></div>
        <script>
          let addressesArray = [ {{#if events}} {{#each events}} "{{eventLocation}}", {{/each}} {{/if}} ];
          let namesArray = [ {{#if events}} {{#each events}} "{{eventTitle}}", {{/each}} {{/if}} ];
          let locationObj = {};

          function initMap() {
            var mpls = { lat: 44.9778, lng: -93.2650 };
            var map = new google.maps.Map(
              document.getElementById('map'), { zoom: 10, center: mpls });

              for (var x = 0; x < addressesArray.length; x++) {
                $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address=' + addressesArray[x] + '&sensor=false&key=AIzaSyBXqDYYTFrcq1HVO8C1KX2YTMtdW-Inj2Y', null, function (data) {
                  var p = data.results[0].geometry.location
                  var latlng = new google.maps.LatLng(p.lat, p.lng);
                  console.log(namesArray[x]);
                  google.maps.event.addListener(map, 'click', function(event) {
                    addMarker(latlng, map, namesArray[x])
                  });
                });
              }
            }
            function addMarker(location, map, label){
              var aMarker = new google.maps.Marker({
                position: latlng, 
                map: map,
                label: label
              });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
              // google.maps.event.addListener(map, 'click', function(event) {
              //   addMarker(event.latLng, map);
              // });
              // https://developers.google.com/maps/documentation/javascript/examples/marker-labels
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXqDYYTFrcq1HVO8C1KX2YTMtdW-Inj2Y&callback=initMap"></script>
      </div>

    </div> <!-- end event + map table -->
    <hr>

    <!-- =============== INSTAGRAM =============== -->

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3><strong>Check out the latest #trashtag photos from Intsagram!</strong></h3>
        <br>
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" id="images">
            <!--instagram feed goes here-->

          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div> <!-- end instagram row -->
  </div> <!-- end container -->
</div> <!-- end div ID Home  -->
