<!-- =============== VIEW A SINGLE EVENT  =============== -->

<div id="event">

    <!-- =============== AN EVENT =============== -->

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                hashtagTrashtag!
            </div>
            {{#if event}}
            {{#each event}}
            <div class="card-body">
                <h5 class="card-title">{{eventTitle}}</h5>
                <p class="card-text">{{eventDesc}}</p>

                <!-- google map -->
                {{!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY
            &q=Space+Needle,Seattle+WA" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen>
                </iframe> --}}

                <p class="card-text">{{eventLocation}}</p>
                <p class="card-text">{{eventDateTime}}</p>

                <a href="#" data-id="{{id}}" class="joinBtn">Join</a>
            </div>
            <div class="card-footer text-muted">
                Bags Needed: {{byob}}
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div> <!-- end Container-->
</div> <!-- end id event -->