<!-- =============== VIEW A SINGLE EVENT  =============== -->

<div id="event">
    <div class="container">
        {{> page-header title="" }}

        <!-- =============== AN EVENT =============== -->
        {{#if event}}
            {{#each event}}
                <h2 class="card-title">{{eventTitle}}</h2>
                <p class="card-text">{{eventDesc}}</p>

                <p class="card-text">{{eventLocation}}</p>
                <p class="card-text">{{eventDateTime}}</p>

                <a href="#" data-id="{{id}}" class="joinBtn">Join</a>
                Bags Needed: {{byob}}
            {{/each}}
        {{/if}}

        {{!-- {{#if user}}
        {{#each user}}
        {{fullName}}<br>
        {{/each}}
        {{/if}} --}}

    </div> <!-- end Container-->
</div><!-- end id event -->
