<!-- =============== VIEW A SINGLE EVENT  =============== -->

<div id="event">

    <!-- =============== AN EVENT =============== -->

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                hashtagTrashtag!
            </div>
            {{#if event}}
            {{#each event}}
            <div class="card-body">
                <h5 class="card-title">{{eventTitle}}</h5>
                <p class="card-text">{{eventDesc}}</p>

                <p class="card-text">{{eventLocation}}</p>
                <p class="card-text">{{eventDateTime}}</p>

                <a href="#" data-id="{{id}}" class="joinBtn">Join</a>
            </div>
            <div class="card-footer text-muted">
                Bags Needed: {{byob}}
            </div>
            {{/each}}
            {{/if}}
        </div>
        {{/each}}
        {{/if}}
        {{#if user}}
        {{#each user}}
        {{fullName}}<br>
        {{/each}}
        {{/if}}

    </div>

</div> <!-- end Container-->
